name: Build Check

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16 

      - name: Install Expo CLI
        run: npm install -g expo-cli

      - name: Install dependencies
        run: yarn install 

      - name: Expo Start (Check)
        run: timeout 1m yarn start || true
